body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

div,
h1,`
h3,
h6,
img,
button,
form,
input {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.nav-container {
    width: 100px;
}

.nav-button {
    /* why inline-block doesn't work? */
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    background-color: white;
    opacity: 0.8;
    text-align: center;
}

.nav-button-content {
    width: 80px;
    margin: auto;
    margin-top: 5px;
}

h6 {
    margin: 0;
}

.toggleDisplay {
    display: none;
}

.nav {
    width: 100px;
    background-color: white;
    opacity: 0.8;
    text-align: center;
}

.content {
    width: calc(100% - 100px);

    text-align: center;
}


/* Places the cat name and count side by side */

h1 {
    display: inline-block;
}

h3 {
    margin-left: 4%;
    display: inline-block;
}

img {
    width: 100%;
}

@media (max-width: 480px) {
    .cat {
        width: 70%;
    }
}