body {
  font-family: sans-serif;
}
li {
  list-style: none;
}
.nav-button {
  position: fixed;
  top: 10px;
  left: 4%;
  width: 100px;
  height: 100px;
  background-color: white;
  opacity: 0.8;
  text-align: center;
}
.nav-button-content {
  width: 80px;
  margin: auto;
  margin-top: 5px;
}
h6 {
  margin: 0;
}
.toggleDisplay {
  display: none;
}
.nav {
  position: fixed;
  top: 110px;
  left: 4%;
  width: 100px;
  background-color: white;
  opacity: 0.8;
  text-align: center;
}
.cat {
  width: 40%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
}

/* This places the cat name and count side by side */

h1 {
  display: inline-block;
}
h3 {
  margin-left: 4%;
  display: inline-block;
}

/* This enables the photos to enlarge or downsize when the device orientation is changed */

/*.cat */
img {
  width: 100%;
}
@media (max-width: 480px) {
  .cat {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 4%;
  }
}
